/* strips */
@import "variables";
@import "mixins";



.strips {
  @include strip_general(100vw);
  cursor: pointer;

    .strip {
      @include strip_general(19.9vw);
      @include strip_align();
      position: relative;
      margin: 0.1vw;
      

      .strip_content {
        @include strip_general(100vw);
        @include strip_align();   
      }
    }
}

/* before */
.strips .strip_content:before {
  @include strip_align();
  @include strip_before(skew(30deg) scaleY(1) translate(0, 0));
}
.strips .strip_content:hover:before {
  -webkit-transform: skew(0deg) scaleX(2) translate(0, 0);
  transform: skew(0deg) scaleX(2) translate(0, 0);
  opacity: 0.2;
}

