/*--COLORS--*/
$color-fondo: #ffffff;
$color-1columna: #244F75;
$color-2columna: #60BFBF;
$color-3columna: #8C4B7E;
$color-4columna: #F8BB44;
$color-5columna: #F24B4B;

/*--ANIMATION--*/
$animation-01part: strip--u4rx9pe;
$animation-02part: strip--u4rx9pg;
$animation-03part: strip--u4rx9q8;
$animation-04part: strip--u4rx9qn;
$animation-05part: strip--u4rx9r0;
$animation-transition: ease-out;
$second1: 1s;
$ms100: 0.1s;
